body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.mytableN{
  padding:0px;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  font-size: 1.3em;
}
.sty{
  width: 100%;
  background-color: rgb(34,34,34);
  color: white;
}
.side{
  border:0px;
  width: 20%;
  vertical-align: top;
}
.title{
  background-color: rgb(34,34,34);
  color: white;
  text-align:center;
}
.left{
  float:left;
  border-right:0px;
}
.right{
  float:right;
  border-left:0px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}